spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:postgresql://localhost:30035/payment
    username: root
    password: a1234567!
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 100

  flyway:
    enabled: true
    baseline-on-migrate: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: payment-service-group

server:
  port: 8082