spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:postgresql://localhost:30035/payment
    username: root
    password: a1234567!
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_batch_fetch_size: 100
    open-in-view: false


  flyway:
    enabled: true
    baseline-on-migrate: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: payment-service-group

server:
  port: 8082

portone:
  api:
    url: https://api.portone.io
    secret: Ww6s1RRhbQHgLsovpVZCVNmR0eF7dKUe30FVThYQknstaQAAvOsz9A8hAxHxUEXgq96CJgqjxcLuLdZX
  store:
    id: store-42931a45-dea7-4099-9727-a891d07e8310


management:
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
    logging:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/logs
  otlp:
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
  tracing:
    sampling:
      probability: 1.0